<table style="width: 100%">
    <thead>
        <tr>
            <th style="width:200px;">阀值项</th>
            <th style="width:100px;">类型</th>
            <th>值</th>
            <th style="width:100px;">事件级别</th>
            <th style="width:50px;">阀值状态</th>
        </tr>
    </thead>
    <tbody>
        {% for th in thresholds %}
        <tr class="{% cycle 'even' 'odd' %}" key="{{th.key}}" type="{{th.type}}" title="{{th.description}}">
            <td>{{th.uname}}{%if th.zname%}({{th.zname}}){%endif%}</td>
            <td>
                {%if th.type == 'MinThreshold' %}最小阀值
                {%elif th.type == 'MaxThreshold' %}最大阀值
                {%elif th.type == 'RangeThreshold' %}范围阀值
                {%elif th.type == 'StatusThreshold' %}状态阀值
                {%elif th.type == 'KeyThreshold' %}关键字阀值
                {%else%}{{th.type}}
                {%endif%}
            </td>
            <td>
                {%if th.type == "MinThreshold" %}
                 最小值:<input  value="{{th.min}}" name="min" style="width:50px;" maxlength="20"/>
                
                {%elif th.type == "MaxThreshold" %}
                 最大值:<input  value="{{th.max}}" name="max" style="width:50px;" maxlength="20"/>
                
                {%elif th.type == "RangeThreshold" %}
                 最小值:<input  value="{{th.min}}" name="min" style="width:50px;" maxlength="20"/>  
                 最大值: <input  value="{{th.max}}" name="max" style="width:50px;" maxlength="20"/>
                 
                {%elif th.type == "StatusThreshold" %}
                 状态值:<input  value="{{th.status}}" name="status" style="width:50px;" maxlength="20"/>
                
                {%elif th.type == "KeyThreshold" %}
                 关键字值:<input  value="{{th.key}}" name="key" style="width:50px;" maxlength="50"/>
                {%endif%}
            </td>
            <td>
                <select name="severity">
                    <option value="3" {%if th.severity == 3%}selected{%endif%}>警告</option>
                    <option value="4" {%if th.severity == 4%}selected{%endif%}>错误</option>
                    <option value="5" {%if th.severity == 5%}selected{%endif%}>严重</option>
                </select>
                
            </td>
            <td>
                <select name="monitored">
                    <option value="true" {% if th.monitored %}selected{%endif%}>启用</option>
                    <option value="false" {% if not th.monitored %}selected{%endif%}>禁用</option>
                 </select>   
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

