<div id="friend_links">
	<style>
		#friend_links .title{}
		#friend_links .links{text-align: center; padding:1em;}
		#friend_links a{float:left; text-align: center; width:120px; overflow: hidden; border:1px solid #CCCCCC;margin: 0.2em 0.5em;}
	</style>
	<div class="indexWidth">
		<div class="title">友情链接:</div>
		<!-- <a href="" title="00" target="_blank"><img src="/media/friend_links/wanjee160x50.jpg" /></a> -->
		<div class="links">
			<a href="http://www.qiansw.com"   title="Linux 运维博客"  target="_blank">千思网</a>
			<a href="http://www.54im.com"   title="Linux 运维博客"  target="_blank">钿畑的博客</a>
			<a href="http://tujack.com"   title="涂杰克的博客"  target="_blank">涂杰克的博客</a>
            <a href="http://www.ixchen.com"   title="勇敢de小细菌 "  target="_blank">勇敢de小细菌</a>
            <a href="http://www.lookingss.org"   title="looking_s运维人生 "  target="_blank">looking_s运维人生</a>
            <a href="http://www.phpally.com" title="Jacklee的博客" target="_blank">Jacklee的博客</a>
			<a title="linux自动化运维" href="http://www.linzhennan.cn/" target="_blank">linux自动化运维</a>
			<a href="http://www.nginx.cn" title="nginx中文站" target="_blank">nginx中文站</a>
			<a title="Mcshell" href="http://blog.mcshell.org" target="_blank">Mcshell</a>
			<a title="王靖锋的博客" href="http://www.wangjingfeng.com" target="_blank">静夜风铃</a>
			<a title="专注PHP网站开发以及技术分享_宋小北博客" href="http://blog.libnav.com" target="_blank">宋小北博客</a>
			<a title="linux运维，linux学习交流博客" href="http://blog.wpython.com" target="_blank">小强的博客</a>
			<a title="Linux运维派关注Linux系统管理，运维开发以及大数据CentOS和Ubuntu等系统的运维日记" href="http://www.skyshe.cn/" target="_blank">Linux运维派</a>
			<a href="http://blog.fity.cn" target="_blank" title="未来往事 | 记录生活，存储回忆！">未来往事 </a>
			<br clear="both"/>
		</div>
	</div>
</div>