<!-- head 1 -->
<div class="head">
	<div class="indexWidth">
		<div class="head_left left" style="color:#CCCCCC;">
				<a title="联系电话" href="javascript:" class="icon_link tel"><font style="color: #cf0202;">4006-3525-00</font></a> |
				<a title="登录"  href="/login.html" class="icon_link denglu">登录</a> |
				<a title="注册"  href="/accounts/register.html" class="icon_link zhuche">注册</a>
		</div>
		<div class="head_right right">
<!-- 				<a href="/help/download_index.html" target="_blank" title="手机APP下载" class="toggle_link app_download"> </a> -->
				<!--
				<a href="#" title="QQ联系" class="toggle_link qq"> </a>
				<a href="#" title="运维通微信" class="toggle_link weixin"> </a>
				<a href="http://t.qq.com/IT-Regard" target="_blank" title="运维通微博" class="toggle_link weibo"> </a>
				-->
	  </div>
	  <div class="clear"> </div>
	</div>
</div>
<!-- head 1 -->


<!-- head 2 -->
<div class="top">
	<div class="indexWidth">
		<div class="top_l left"><a href="/index"><img src="/media/css/outsite/index_images/logo.gif" /></a></div>
		<div class="top_r right">
			<ul>
				<li><a href="/">首页<span>Home</span></a></li>
				<li><a href="/outsite/products.html/">产品<span>Products</span></a></li>
				<li><a href="/help/help_center.html" target="_blank">技术支持<span>Support</span></a></li>
				<li><a href="#">合作加盟<span>Cooperation</span></a></li>
				<li><a href="/ucenter/communityAnonymous/" target="_blank">论坛<span>Forum</span></a></li>
				<li><a href="http://weibo.com/u/3911057466" target="_blank">博客<span>Blog</span></a></li>
				<li><a href="/outsite/contactus.html/">关于我们<span>About Us</span></a></li>
			</ul>
			
		</div>
		<div class="clear"> </div>
	</div>
</div>



<!-- head 2 -->
	



