<!-- 
<div id="website_map">
	<div class="indexWidth">
		<ul>
			<li>
				<h4>产品Products</h4>
				<a href="#">产品简介</a><br/>
				<a href="#">技术特点</a><br/>
				<a href="#">产品FAQ</a><br/>
				<a href="#">操作手册</a><br/>
				<a href="#">典型应用</a><br/>
				<a href="#">产品系列</a><br/>
			</li>
			
			<li>
				<h4>关于我们About</h4>
				<a href="#">关于我们</a><br/>
				<a href="#">联系我们</a><br/>
				<a href="#">招纳贤才</a><br/>
				<a href="#">服务政策</a><br/>
				<a href="#">隐私安全条款</a><br/>
			</li>
			
			<li>
				<h4>支持服务Services</h4>
				<a href="#">提交问题工单</a><br/>
				<a href="#">用户知识库</a><br/>
				<a href="#">讨论社区</a><br/>
				<a href="#">开发者平台</a><br/>
				<a href="#">产品更新日志</a><br/>
			</li>
			
			<li>
				<h4>官方微博Blog</h4>
				<a href="#">技术与开发</a><br/>
				<a href="#">产品与动态</a><br/>
				<a href="#">运维通播报</a><br/>
				<a href="#">公告与活动</a><br/>
			</li>
			
			<li class="last">
				<h4>联系我们Contact</h4>
				深圳网脊科技开发有限公司<br/>
				地址:深圳市南山区中山园路9号君翔达大厦A区2F<br/>
				电话:0755-22192790  <br/>
				传真:0755-25867960  <br/>
			</li>
			<br clear="both" />
		</ul>
	</div>
	
</div>

-->