{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="/media/css/serviceNoteList.css" />
{% endblock %}

{% block extra_style %}
{% endblock %}

{% block extra_js %}
<script>var orgUid = '{{orgUid}}';</script>
<script>var locUid = '{{locUid}}';</script>
<script src="/media/js/monitor/hostWithLocTree.js"></script>
<script src="/media/js/monitor/configGrid.js"></script>
<script src="/media/js/fillcollector.js"></script>
{% endblock %}

{% block sec-menu-panel %}
{% include "monitor/monitor_sec_menu.html" %}
{% endblock %}

{% block three-menu-panel %}
{% include "three_menu.html" %}
{% endblock %}

{% block  mleft-panel %}

<div class="panel_min psbar" style="max-height: 500px;">
	<div id="device_class_tree"> </div>
	<br/>
	
<div style="text-align: center;">
	<a href="javascript:" name="add_device" class="try-kendo">+添加设备</a>
</div>	
</div>
<div class="extend_device_tip">
    <li>您一共可以添加<label>{{numDic.count}}</label>台主机</li>
    <li>您已经添加了<label>{{numDic.usedNum}}</label>台主机</li>
    <li>您还可以添加<label>{{numDic.availableNum}}</label>台主机</li>
    <li><a href="javascript:" name="extend_device">我要扩充</a></li>
</div>
{% endblock %}

{% block mright-panel  %}
<div class="panel">
	<div class="panelTitle">设备列表</div>
	<div class="panelContent">
		<div id="data-grid"> </div>
	</div>
</div>
{% endblock %}


{% block other_extend_block %}
{%  include "monitor/add_dev_page.html" %}
{%  include "monitor/extend_device.html" %}
{% endblock %}

