
<div id="addNetworkWidget"  class="dialog_win">

    <div class="box" style="height: 550px; overflow: auto;">
        <div class="validateErrorMsg"> </div>
        <fieldset class="baseInfoConfig" id="add_network_panel_001">
            <legend>基本配置</legend>
            <li class="filed first"> <label>管理IP:</label> <input name="manageIp"/></li>
            <li class="filed"> <label>名称:</label> <input name="title"/> </li>
            <li class="filed">
                 <label>收集器:</label>
                 <select name="collector" class="common" id="select_collector"  component_type="Network">
                 	<option value="">请选择收集器</option>
                 </select>
                 
            </li>
            <li class="filed first"> <label>说明描述:</label> <input name="description" style="width:470px;"/> </li>
            <li class="filed first"> <label>产品型号:</label> 
                <select name="productId" class="common" style="width: 200px;">
                	
                </select> 
            </li>
            
        </fieldset>
        
        <fieldset class="snmpConfig"  id="add_network_panel_002">
            <legend>SNMP配置</legend>

                <li class="filed first">
                    <label>Snmp超时:</label> <input data-role="numerictextbox" min="0" min="120" data-format="# 秒" data-bind="value: netSnmpTimeout" />
                </li>
                    
                <li class="filed">    
                    <label>最大OID请求数:</label> <input data-role="numerictextbox" min="0" data-format="#" data-bind="value: netMaxOIDPerRequest" />
                </li>
                
                <li class="filed first">
                    <label>Snmp私有密码:</label> <input class="common" data-bind="value:netSnmpPrivPassword" type="password"/>
                </li>
                
                <li class="filed">    
                    <label>Snmp尝试次数:</label> <input data-role="numerictextbox" min="0" data-format="#" data-bind="value: netSnmpTries" />
                </li>
                
                <li class="filed first">
                    <label>是否启用SNMP:</label> <select class="common" data-bind="source:booleans, value:netSnmpMonitorIgnore" 
                    data-value-field="val" data-text-field="text"> </select>
                </li>
                
                <li class="filed">
                    <label>Snmp认证类型:</label> <input class="common" data-bind="value:netSnmpAuthType" />
                </li>
                
                <li class="filed first">
                    <label>Snmp私有类型:</label> <input class="common" data-bind="value:netSnmpPrivType" />
                </li>
                
                <li class="filed">
                    <label>Snmp团体名:</label> <input class="common" data-bind="value:netSnmpCommunity" />
                </li>
                
                <li class="filed first">
                    <label>Snmp验证密码:</label>  <input class="common" data-bind="value:netSnmpAuthPassword" />
                </li>
                
                <li class="filed">
                    <label>Snmp版本:</label> <select class="common" data-bind="source:snmpVers, value:netSnmpVer"> </select>
                </li>
                
                <li class="filed first">
                    <label>Snmp端口:</label> <input data-role="numerictextbox" min="1" max="65535" data-format="#" data-bind="value: netSnmpPort" />
                </li>
                
                <li class="filed">
                    <label>Snmp安全名:</label> <input class="common" data-bind="value:netSnmpSecurityName" />
                </li>
        </fieldset>
        
        <fieldset class="commConfig"  id="add_network_panel_003">
            <legend>通用配置</legend>

            <li class="filed first">
                <label>SSH密钥路径:</label> <input class="common" type="password" data-bind="value:netKeyPath" />
            </li>
            
            <li class="filed">    
                <label>SSH当前会话数:</label> <input data-role="numerictextbox" min="0" max="10000" data-format="#" data-bind="value: netSshConcurrentSessions" />
            </li>
            
            <li class="filed first">
                <label>用户名:</label> <input class="common" data-bind="value:netCommandUsername" />
            </li>
            
            <li class="filed">
                <label>密码:</label> <input class="common" data-bind="value:netCommandPassword"  type="password"/>
            </li>
            
            <li class="filed first">
                <label>命令超时:</label> <input data-role="numerictextbox" min="0" max="120" data-format="# 秒" data-bind="value: netCommandCommandTimeout" />
            </li>
            
            <li class="filed">
                <label>登陆超时:</label> <input data-role="numerictextbox" min="0" max="120" data-format="# 秒" data-bind="value: netCommandLoginTimeout" />
            </li>
            
            <li class="filed first">
                <label>命令端口:</label> <input data-role="numerictextbox" min="1" max="65535" data-format="#" data-bind="value: netCommandPort" />
            </li>
            <li class="filed first">
                <label>健康检测方式:</label><select class="common" data-text-field="text" data-value-field="val"  
            data-bind="source:hcTypes, value:hcType, events:{change: changehcType}"></select>
            </li>
            <li class="filed first hcPorts">
                <label>端口选择:</label><input  data-bind="value: hcPorts" /><span style="color: #FF0000; font-weight: bold;">多个端口，请用,号分开</span>
            </li>
        </fieldset>
    </div>
    
    <div class="win_opbar" id="addNetworkWidget_btn">
		<button class="ok">保存</button>
		<button class="cancel">退出</button>
	</div  
	
	
</div>