                    
                    <div class="comiis_wrapad" id="slideContainer">
                        <div id="frameHlicAe" class="frame cl">
                            <div class="temp"> </div>
                            <div class="block">
                                <div class="cl">
                                    <ul class="slideshow" id="slidesImgs">
                                        <li><a href="#">
                                            <img src="/media/ui/adve/images/1.jpg" width="160" height="600" alt="" /></a></li>
                                        <li><a href="#">
                                            <img src="/media/ui/adve/images/2.jpg" width="160" height="600" alt="" /></a></li>
                                        <li><a href="/help/help_center_zuji.html" target="_blank">
                                            <img src="/media/ui/adve/images/3.jpg" width="160" height="600" alt="" /></a></li>
                                    </ul>
                                </div>
                                <div class="slidebar" id="slideBar">
                                    <ul>
                                        <li class="on">1</li>
                                        <li>2</li>
                                        <li>3</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div> <!--  end #slideContainer -->
                    