<div id="footer">
	<script type="text/javascript">
 		var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1000160896'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1000160896%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));
 	</script>
 Copyright 2004- 2014 Wanjee. All Rights Reserved. 深圳网脊网络科技有限公司 版权所有 粤ICP备12088456号-1
 
	<a href="/feedback" target="_blank" title="留言反馈"><img src="/media/images/Feedback_bg.png" border="0" /></a>
	<a href="http://t.qq.com/IT-Regard" title="微博" target="_blank"><img src="/media/images/weibo_bg.png" border="0" /></a>
	<a href="#"><img src="/media/images/service_tel.png" border="0" /></a>
</div>
<!-- end footer -->