
     <div id="header">
            <div class="logo"><a href="/index"><img src="/media/images/login_logo.png" /></a></div>
            <div class="top_right">
                <div>
                  <p class="app_download"><a href="/help/download_index.html" target="_blank">手机APP下载</a></p>
                  <p class="bbs"><a href="http://bbs.wanjee.cn/forum.php" target="_blank">运维通社区</a></p> 
                  <p class="netbase"><a href="http://netbase.wanjee.cn/" target="_blank">传统企业版IT运维<br /><span>Netbase</span></a></p>
                </div>
            </div>
     </div><!--end header-->