{% extends "public_base.html" %}
{% block extra_css %}
	<link href="/media/css/outsite/base.css" rel="stylesheet" />
	<link href="/media/css/outsite/index.css" rel="stylesheet" />
	<link href="/media/css/outsite/top-bottom.css" rel="stylesheet" />
{% endblock %}

{% block extra_js %}

{% endblock %}


{% block top_block %}
	{% include "base_include/header.html" %}
	{% include "base_include/index/banner.html" %}
	
	
<!--中间部份1-->
<div class="wrapper" style="overflow: hidden;">
	<div class="indexWidth">
		<ul class="wrapperoBox">
			<li><a href="#mao_in01"><img src="/media/css/outsite/index_images/s1.png" /></a></li>
			<li><a href="#mao_in02"><img src="/media/css/outsite/index_images/s2.png" /></a></li>
			<li><a href="#mao_in03"><img src="/media/css/outsite/index_images/s3.png" /></a></li>
			<li class="wblastbg"><a href="#mao_in04"><img src="/media/css/outsite/index_images/s4.png" /></a></li>
		</ul>
  </div>
</div>
<!--中间部份1-->


<!--中间部份2运维通是什么？-->
<a name="mao_in01" style="height: 0;"></a>
<div class="wrapperTwo">
	<div class="indexWidth IntroductionBg">
		<div class="int_bt">
			<h3 class="int_bt_h3"><img src="/media/css/outsite/index_images/introduction.png" /></h3>
			<span class="int_bt_des">
				运维通是一个全免费的线上主机/网站监控、运维平台，同时用户下载运维通内网收集器组件后，也可将监控、运维的功能拓展到内网主机、交换/路由、防火墙等设备。
同时运维通具备带有报警、事件信息推送的andriod版APP，随时了解自己设备的重要监控项目状态、波形图，通过一键通远程重启主机、运行预录制命令脚本等；
<a href="/outsite/products.html" class="inmore">了解更多 <img src="/media/css/outsite/index_images/more.gif" /></a>
			</span>
            
		</div>
        <br /><br />
		<div class="clear"></div>
		<div class="int_bt_show">
			<ul>
				<li>
					<div class="int_bt_show_div">
						<a href="/outsite/products.html#main_fun" class="toggle_link intr01"> </a>
						<div class="int_bt_show_div_b">全免费Saas监控运维</div>
						<div class="int_bt_show_div_hr"></div>
				  </div>
					<div class="int_bt_show_item">
						运维通当通监控，运维功能永久全免费，包括外网、内网监控组件，手机APP等所有运维通功能。
					</div>
			  <li>
					<div class="int_bt_show_div">
						<a href="/outsite/products.html#main_fun" class="toggle_link intr02"> </a>
						<div class="int_bt_show_div_b">手机APP集成</div>
						<div class="int_bt_show_div_hr1"></div>
				  </div>
					<div class="int_bt_show_item">
						基于andriod系统的手机APP，除普通监控功能外，可方便执行，诸如远程重启处于死机状态的服务器，
运行常用运维脚本报警信息推送等操作。 
					</div>
			  </li>
				<li>
					<div class="int_bt_show_div">
						<a href="/outsite/products.html#main_fun" class="toggle_link intr03"> </a>
						<div class="int_bt_show_div_b">内外网监控运维集成</div>
						<div class="int_bt_show_div_hr2"></div>
				  </div>
					<div class="int_bt_show_item">
						除了基于互联网的运维监控外，用户可免费下载运维通内网收集器组件，以监控内网交换机，防火墙主机等工厂设备，可绘制网络拓扑，并通过手机实现远程监控运维。
					</div>
				</li>
				
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
</div>
<div class="clear"></div>
<!--中间部份2运维通是什么？-->

<!--中间部份3运维通如何使用？-->
<a name="mao_in02" style="height: 0;"></a>
<div class="wrapperTwo">
	<div class="indexWidth">
		<h3 class="int_bt_h3"><img src="/media/css/outsite/index_images/huse.png" /></h3>
		<div class="wts_huse">
			<div class="wts_huseL left"><img src="/media/css/outsite/index_images/use.gif" /></div>
			<div class="wts_huseR left">
				运维通的使用很简单，通过邮件注册、激活账号后，就可以添加公网的主机、网
站来进行监控，当然被监控主机要进行相应的SNMP/IPMI/SSH等配置，否则将
无法正常监控或远程运维，如需通过运维通监控内网设备，可下载运维通内网收
集器，通过运维通客服获得授权码后可使用一个账号同时运维、监控公网、内网
设备，并享受移动端带来的远程重启、一键命令等便利；
				<a href="/outsite/products.html" class="inmore">了解更多 <img src="/media/css/outsite/index_images/more.gif" /></a>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>
<div class="clear"></div>
<!--中间部份3运维通如何使用？-->
<!--中间部份4运维通是否安全？-->
<div class="wrapperTwo">
	<div class="indexWidth">
		<h3 class="int_bt_h3"><img src="/media/css/outsite/index_images/isafe.png" /></h3>
		<div class="wts_huse">
			<div class="wts_huseL left"><img src="/media/css/outsite/index_images/safe.gif" /></div>
			<div class="wts_huseR left">
				运维通的监控数据主要来源SNMP，不使用独立插件，获取的是设备运行状态、性
能等统计信息，并且是通过向某个特定的收集器IP开放只读权限的方式来运行，如
果对安全性要求高，运维通支持加密的SNMP V3版本，不会涉及到用户的业务数
据，运维通的研发公司―――网脊科技，是招商银行网上银行监控系统的研发厂商，
投资人为前腾讯联合创始人曾李青，是相对正规运营的规范性IT研发企业。
				<a href="/outsite/safety.html" class="inmore">了解更多 <img src="/media/css/outsite/index_images/more.gif" /></a>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>
<!--中间部份4运维通是否安全？-->
<!--中间部份5运维通怎样盈利？-->
<div class="wrapperTwo">
	<div class="indexWidth">
		<h3 class="int_bt_h3"><img src="/media/css/outsite/index_images/busin.png" /></h3>
		<div class="wts_huse">
			<div class="wts_huseL left"><img src="/media/css/outsite/index_images/moder.gif" /></div>
			<div class="wts_huseR left">
				<h3 class="wts_huseRH3">既然运维通的功能都是免费的，那么运维通的运营公司——网脊科技怎么赚钱？ </h3>
				目前主要靠为企业提供运维、监控的咨询、实施服务以及为大企业提供定制开发获得
利润，此外公司还有雄厚的风险投资参股，在近一、二年内没有计划向使用运维通
SaaS平台的直接用户收取一分钱，希望能够为需要简单、实用的监控、运维产品的广
大IT运维工程师们提供无门槛的一体化内、外网解决方案。
				
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>
<!--中间部份5运维通怎样盈利？-->

<a name="mao_in03" style="height: 0;"></a>
<!--中间部份6运维通用户评价-->
<div class="wrapperTwo">
	<div class="indexWidth">
		<h3 class="int_bt_h3"><img src="/media/css/outsite/index_images/eval.png" /></h3>
		<div class="customersBg">
			<div class="customersL left">
			<span class="customersText">“我们有大量的高性能计算机，以往的产品有不少盲区，网脊公司提供了整体的一体化监控解决方案，从底层环境到业务应用，
				同时还有针对经营类数据中心的解决方案―――运维通，希望网脊能研发更多、更好的监控、运维类产品”</span>
				<span class="customersname">——中国超算中心深圳中心罗工</span>
			</div>
			<div class="customersL right">
				<span class="customersText">“我们曾经采购过昂贵的IT运维工具给工程部使用，但现在没人去碰，运维通
是为用户自助使用设计的，可极大降低我们的运营成本，提升效率，希望运维
通能推出更多好技术为用户服务“</span>
				<span class="customersname">——广信IDC吴总</span>
			</div>
				<div class="customersL left">
				<span class="customersText">“运维通比我们曾经使用的其他SaaS运维要好用很多，作为游戏公司，我们
主要拓展的是海外市场，运维通的一键通功能让我们省心很多”</span>
				<span class="customersname">——深圳游龙互动总经理Jim</span>
			</div>
			<div class="customersL right">
			<span class="customersText">“对于商业银行来说，网上银行业务是目前最重要的业务，网脊公司从2010年开始与我们合作至今，
				根据我们的实际要求开发了许多实用的运维、监控解决方案，大大地降低了故障率，为我们的生产系统健康运行提供了很好的帮助”</span>
				<span class="customersname">——招商银行数据中心徐工</span>
			</div>

		</div>	
	</div>
	<div class="clear"></div>
</div>
<!--中间部份6运维通用户评价-->


<!--中间部份7我们的主要用户-->
<a name="mao_in04" style="height: 0;"></a>
<div class="wrapperTwo">
	<div class="indexWidth">
		<h3 class="int_bt_h3"><img src="/media/css/outsite/index_images/customers.png" /></h3>
		<div class="kehu_list">
			<a href="javascript:" class="toggle_link customer01"> </a>
			<a href="javascript:" class="toggle_link customer02"> </a>
			<a href="javascript:" class="toggle_link customer03"> </a>
			<a href="javascript:" class="toggle_link customer04"> </a>
			<a href="javascript:" class="toggle_link customer05"> </a>
			<a href="javascript:" class="toggle_link customer06"> </a>
			<a href="javascript:" class="toggle_link customer07"> </a>
			<a href="javascript:" class="toggle_link customer08"> </a>
			<a href="javascript:" class="toggle_link customer09"> </a>
			<a href="javascript:" class="toggle_link customer10"> </a>
			<a href="javascript:" class="toggle_link customer11"> </a>
			<a href="javascript:" class="toggle_link customer12"> </a>
			<br clear="both"/>
	  </div>
	</div>
	<div class="clear"></div>
</div>
<!--中间部份7我们的主要用户-->

{% include "base_include/tyzl.html" %}
{% include "base_include/websitemap.html" %}
{% include "base_include/copyright.html" %}
{% endblock %}
