<!--产品套餐介绍--> 
<a name="user_meal_desc"> </a>  
<div id="packages_main">
      <div class="packages">
            <div  class="packages_02">
                <div class="packages_top">
                    <span class="pa01">产品服务说明</span> 对产品收费不清楚吗？如需帮助，请拨打我们的  <span class="pa02">服务热线：400-6352-500</span>
                 </div>
                   <div class="packages_02_show">
                   
                         <table class="tab_pack" width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                   <td class="td01">产品项目</td>
                                   <td class="td02" >免费试用(个)</td>
                                   <td class="td02" >收费标准(元/个/月)</td>
                                   <td class="td02_02">功能简述</td>
                              </tr>
                              
                              <tr>
                                   <td class="td01">主机监控</td>
                                   <td class="td04"style="text-align: center;"><span>5</span></td>
                                   <td class="td04"style="text-align: center;"> <span>￥50.00</span></td>
                                   <td class="td04">监控主机设备，主要包括Windows、Linux系统，及系统中的接口、进程、端口、文件系统</td> 
                              </tr> 
                              
                              <tr>
                                   <td class="td01">站点监控</td>
                                   <td class="td04"style="text-align: center;"><span>5</span></td>
                                   <td class="td04"style="text-align: center;"><span>￥30.00</span></td>
                                   <td class="td04">监控Web站点延时、响应时间</td>
                              </tr>
                              
                              <tr>
                                   <td class="td01">开机助手</td>
                                   <td class="td04"style="text-align: center;"><span>2</span></td>
                                   <td class="td04"style="text-align: center;"><span>￥30.00</span></td>
                                   <td class="td04">提供远程开关机、重启设备功能</td>
                              </tr>
                              
                              <tr>
                                   <td class="td01">快捷命令</td>
                                   <td class="td04"style="text-align: center;"><span>2</span></td>
                                   <td class="td04"style="text-align: center;"><span>￥20.00</span></td>
                                   <td class="td04">提供远程执行Linux命令功能、重启设备功能</td>
                              </tr>
                              
                               <tr>
                                   <td class="td01">事件与告警</td>
                                   <td class="td04"style="text-align: center;"><span>免费</span></td>
                                   <td class="td04"style="text-align: center;"><span>免费</span></td>
                                   <td class="td04">记录监控项目的问题，并发送邮件或短信，及时了解运营状况</td>
                              </tr>
                               
                                <tr>
                                   <td class="td01">事件记录</td>
                                   <td class="td04"style="text-align: center;"  colspan="3">
                                       <span>免费用户免费保留100条，付费用户免费保留1000条 </span>
                                   </td>

                              </tr>
                         </table>

                   </div>
                   
                   
                   
                   
                   
                   <div class="beizu2014" style="padding: 20px 12px 50px 12px; font-size: 15px; font-weight: bold; "><span style="color: #f00;">备注：</span>普通用户注册后30天内可享受以上免费试用服务，IDC用户不受试用时间限制。</div>
                     <div  class="packages_02">
                <div class="packages_top">
                    <span class="pa01">付费用户还可享受如下远程及人工支持服务：</span>
                 </div>
                   <div class="packages_02_show">
                   
                         <table class="tab_pack" width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                   <td class="td01">产品项目</td>
                                   <td class="td02" >收费标准</td>
                                   <td class="td02_02">描述</td>
                              </tr>
                              
                              <tr>
                                   <td class="td01">远程服务</td>
                                   <td class="td04"style="text-align: center;"> <span>￥20 &nbsp;<span style="font-size: 14px; font-weight: normal;color: #444">(元/10G/台)</span></span></td>
                                    <td class="td04">随时手动或定义策略自动备份、恢复服务器数据</td> 
                              </tr> 
                              
                              <tr>
                                   <td class="td01">咨询服务</td>
                                   <td class="td04"style="text-align: center;"><span>￥100&nbsp;<span style="font-size: 14px; font-weight: normal;color: #444">(元/小时)</span></span></td>
                                   <td class="td04">通过网脊的专用服务平台，以语音、文字、远程桌面、文件共享等方式针对用户的技
                                       术问题进行咨询，包括：规划设计、故障分析、优化建议等等
                                   </td>
                              </tr>
                              
                              <tr>
                                   <td class="td01">故障排除服务</td>
                                   <td class="td04"style="text-align: center;"><span>￥500&nbsp;<span style="font-size: 14px; font-weight: normal;color: #444">(元/台/月)</span></span></td>
                                   <td class="td04">通过网脊的专用服务平台，以语音、文字、远程桌面、文件共享等方式针对用户的技术
                                       问题进行故障分析、排除
                                   </td>
                              </tr>

                         </table>

                   </div>
                   
            </div>
            
            
                       
             
             <!--套餐详细介绍-->

      </div>
</div> 
<!--产品套餐介绍-->
