<!DOCTYPE html>
<html >
    <head>
        <title>网脊运维通，全新一代免费SaaS运维监控平台</title>
        <meta name="keywords" content="运维通,运维监控,运维,网脊,IT运维,IT,IT解决方案,手机监控,SaaS运维监控,在线SaaS运维,网站监控,网站性能监控,服务器监控,服务器性能监控,服务监控,应用程序监控,应用性能监控,移动应用监控,网站监控工具,监控系统,开源监控软件,免费监控软件,流量监控,网站性能优化" />
        <meta name="description" content="网脊运维通是一个提供在线 SaaS 运维平台，企业可通过其服务在线实现互联网 IT 资源的监控、故障报警、事件报表、ITIL 事件跟踪、一键通自动化运维等功能。"/>
        <meta name="baidu-site-verification" content="Puzfx6rJiz" />
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <link rel="SHORTCUT ICON" href="/media/images/favicon.ico" />

         {% block extra_css %}{% endblock %}
         {% block extra_style %}{% endblock %}
         <script type="text/javascript" src="/media/js/jquery.min.js"></script>
         {% block extra_js %}{% endblock %}
          
    </head>
    
    <body>

		{% block top_block %}{% endblock %}
		{% block content_block %}{% endblock %}
		{% block bottom_block %}{% endblock %}
	
        <div id="other_extend_block">{% block other_extend_block %}{% endblock %}</div>
    </body>
</html>
