{% extends "public_base.html" %}
{% block extra_css %}
	<link href="/media/css/outsite/base.css" rel="stylesheet" />
	<link href="/media/css/outsite/top-bottom.css" rel="stylesheet" />
	<link href="media/css/logAndRegister.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block top_block %}
{% include "base_include/header.html" %}
{% include "base_include/index/banner.html" %}
{% endblock %}

{% block content_block %}

	
     <div id="main" style="height:430px;min-height:430px; padding-top: 4em;">
		<div class="Registration_Ntop"><img src="/media/images/success_icon.gif" />&nbsp;&nbsp;帐号激活失败</div>
		<div class="tishi">对不起，激活失败，可能你激活的帐号不存在，或已经激活过，请勿重复激活，如果你已经激活帐号，<a href="/login.html">请点击这,进行登陆</a></div>
          
     </div>
{% endblock %}

{% block bottom_block %}
{% include "base_include/copyright.html" %}
{% endblock %}
