{% extends "public_base.html" %}
{% block extra_css %}
	<link href="/media/css/outsite/base.css" rel="stylesheet" />
	<link href="/media/css/outsite/top-bottom.css" rel="stylesheet" />
	<link href="media/css/logAndRegister.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block top_block %}
{% include "base_include/header.html" %}
{% include "base_include/index/banner.html" %}
{% endblock %}

{% block content_block %}

	
     <div id="main" style="height:430px;min-height:430px; padding-top: 4em;">
         <div class="Registration_Ntop"><img src="/media/images/success_icon.gif" />&nbsp;&nbsp;请验证您的邮箱，完成注册</div>
         <div class="tishi">我们已经发送注册邮件到您的邮箱，请点击邮件中的激活链接完成注册，开始体验您的运维之旅。</div>
          
     </div>
{% endblock %}

{% block bottom_block %}
{% include "base_include/copyright.html" %}
{% endblock %}
