<style>
    div.user_icons_select_div{}

div.user_icons_select_div li{float: left; margin:4px;border:1px solid #fff;}
div.user_icons_select_div li:hover{
    border:1px solid #7DDBFF;
    box-shadow: 0 0 6px #7DDBFF;
}
div.user_icons_select_div img{
    width:60px;height: 60px;
    
}
</style>
<div class="user_icons_select_div">
    <ul>
        <li><img src="/media/user_icons/00826c80de61cd85c3e44aa2acb566d5.jpg" /></li>
        <li><img src="/media/user_icons/03303bbe986370bd69a3599474fbd99e.jpg" /></li>
        <li><img src="/media/user_icons/03e82d74f1a9bf522f9da5c72e89ad11.jpg" /></li>
        <li><img src="/media/user_icons/0501339a15072c5e7a1a50b77c241ecc.jpg" /></li>
        <li><img src="/media/user_icons/092e94a79573dfcae15e0e03b95ec0f5.jpg" /></li>
        <li><img src="/media/user_icons/0ef0efdb36d1e667e34f5a87286eac64.jpg" /></li>
        <li><img src="/media/user_icons/104ce82ff9c7eae2563ee1a1b1b90af1.jpg" /></li>
        <li><img src="/media/user_icons/10aa974b40ff26bd28d3771b81e0530b.jpg" /></li>
        <li><img src="/media/user_icons/16bb130c2059ba8887c984ad076e6fc5.jpg" /></li>
        <li><img src="/media/user_icons/1a93c1d92903418a34fd1d9e5b39511e.jpg" /></li>
        <li><img src="/media/user_icons/251cb85f0799449fbcf9176506d26038.jpg" /></li>
        <li><img src="/media/user_icons/29eeb6af8dfd532a00b1d359c86d85b7.jpg" /></li>
        <li><img src="/media/user_icons/2a45c1a47f687c2851ab0f0d44b00662.jpg" /></li>
        <li><img src="/media/user_icons/2ae164ca1d4193a5d59632715f28c158.jpg" /></li>
        <li><img src="/media/user_icons/32e52d48d0e467df5f97461b0feaee0a.jpg" /></li>
        <li><img src="/media/user_icons/3a5afb279b83ab42d7163e79328b0067.jpg" /></li>
        <li><img src="/media/user_icons/3af89b11a1539a54b8ccf841fd11ddb9.jpg" /></li>
        <li><img src="/media/user_icons/4dba243566df9c956e3fbf980adc115b.jpg" /></li>
        <li><img src="/media/user_icons/4e1da5caa4d7e8d262a5cc5f0ce12d57.jpg" /></li>
        <li><img src="/media/user_icons/52847006711002e57914ca340f006909.jpg" /></li>
        <li><img src="/media/user_icons/53efeef1992daf034d69badb1ed93d02.jpg" /></li>
        <li><img src="/media/user_icons/5575b1f519a7e8422994b205853df15a.jpg" /></li>
        <li><img src="/media/user_icons/5bdf22bde5afb0f349166034070b2a4e.jpg" /></li>
        <li><img src="/media/user_icons/5df2b266cb4d17061b67469bf0920a11.jpg" /></li>
        <li><img src="/media/user_icons/63b9825e3fcc5ed66fee444805993331.jpg" /></li>
        <li><img src="/media/user_icons/644e6c1b5bc39d35d1bc90bdb8bb2992.jpg" /></li>
        <li><img src="/media/user_icons/68194ac5adae0bc6d70bdd82d885d580.jpg" /></li>
        <li><img src="/media/user_icons/68855f1503fdb90e7921a4997d4294b7.jpg" /></li>
        <li><img src="/media/user_icons/6b50eadd39ba07609da433de00327fd4.jpg" /></li>
        <li><img src="/media/user_icons/848089140f30c411bb259b844a99706e.jpg" /></li>
        <li><img src="/media/user_icons/87bb7cdfab0d690957b674a1f896e3f3.jpg" /></li>
        <li><img src="/media/user_icons/8adcdf060b1b61fb3c4a6126ec651f56.jpg" /></li>
        <li><img src="/media/user_icons/9ec3b6d53e8eeb6b55746823da31b102.jpg" /></li>
        <li><img src="/media/user_icons/9ecf417c6bc7637e0ff57453238defd9.jpg" /></li>
        <li><img src="/media/user_icons/a72d8e3c11c88adbacdaefc0e6fc673c.jpg" /></li>
        <li><img src="/media/user_icons/a87fadf5f503f9766d5e8b27ec7b6f13.jpg" /></li>
        <li><img src="/media/user_icons/a9f48e0d71f973c188783b3070bccd47.jpg" /></li>
        <li><img src="/media/user_icons/aa2e4e791494af89c147755f36aab72a.jpg" /></li>
        <li><img src="/media/user_icons/b0fad9aa009f2dccbd4436f053dec72e.jpg" /></li>
        <li><img src="/media/user_icons/b1b4c4d0017347ab3fa004c25666ddeb.jpg" /></li>
        <li><img src="/media/user_icons/b304edc7ac8e932f6b835848f420c7da.jpg" /></li>
        <li><img src="/media/user_icons/b36ee00fbbd75a8d5493a8500906c4bf.jpg" /></li>
        <li><img src="/media/user_icons/bbb7f5e41e3bb31d016ba53c5bf870ea.jpg" /></li>
        <li><img src="/media/user_icons/d90770aaf74fb45a6539ee9061b4202c.jpg" /></li>
        <li><img src="/media/user_icons/da2dd1021902f16837e3516101376593.jpg" /></li>
        <li><img src="/media/user_icons/db2673e330f258f45400a2cf25d0ae1c.jpg" /></li>
        <li><img src="/media/user_icons/e35a62d1fcabc9a1cf82a0c66a04c506.jpg" /></li>
        <li><img src="/media/user_icons/ebabb798c038bc0a11fae8dc4a42fde0.jpg" /></li>
        <li><img src="/media/user_icons/ebbebcacad84aef3fce6906491ba7131.jpg" /></li>
        <li><img src="/media/user_icons/ee70210f5162754cda9c59627dc91ccf.jpg" /></li>
        <li><img src="/media/user_icons/f047537f55d472dcb8ffed1e9c4b010c.jpg" /></li>
        <li><img src="/media/user_icons/f75758c132e14221fbbd87099595b926.jpg" /></li>
        <li><img src="/media/user_icons/fdae3f077cc3c4479714fa982deef3fe.jpg" /></li>
        <li><img src="/media/user_icons/ff01ebad99cdcb796b55452bb4539143.jpg" /></li>
        <br clear="both"/>
    </ul>
</div>
