{% block extra_css %}
<link href="/media/css/left_item_menu.css" rel="stylesheet" />
{% endblock %}
{% block extra_js %}
<script src="/media/js/leftmenu_prefix.js"></script>
{% endblock %}
<div id="left-menus">
    <ul>
        <li><a href="/admin/customers/">账户列表</a></li>
        <li><a href="/admin/sendmail/">发送邮件</a></li>
        <li><a href="/admin/createAccounts/">批量生成账户</a></li>
        <li><a href="/admin/listFeedBackInfos/">客户反馈信息</a></li>
        <li><a href="/admin/listOperationers/">运维商</a></li>
    </ul>
</div>