<div id="cptSelectWin" class="dialog_win">
        <div id="my_china_map_box"></div>
        <div id="coll_point_select_div">
            <dl>
                <dt>华南地区</dt>
                <dd>
                    <label><input name="collPoint" type="checkbox" value="536bb9d0e138230d8d4d3019" ss="guangdong" />广东电信</label>
                </dd>
                <dd>
                    <label><input name="collPoint" type="checkbox" value="collector_point_002" ss="hubei"/>湖北电信</label>
                </dd>
                
                <dt>华东地区</dt>
                <dd>
                    <label><input name="collPoint" type="checkbox" value="536bb9d0e138230d8d4d301a" ss="shanghai" />上海电信</label>
                </dd>
                
                <dt>港奥台</dt>
                <dd>
                    <label><input name="collPoint" type="checkbox" value="collector_point_003" ss="hongkong" />香港网络</label>
                </dd>
                
            </dl>
            
        </div>

        <div class="win_opbar">
            <button class="ok">确定</button>
            <button class="cancel">取消</button>
        </div>
</div>